<h1>Enter A Whiskey</h1>

<% if whiskey.errors.any? %>
	<h2>Errors!</h2>
		<ul>
			<% whiskey.errors.full_messages.each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
<% end %>

<%= form_for whiskey do |f| %>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
	<br>
	<%= f.label :description %>
	<br>
	<%= f.text_area :description, size: "60x12" %>
    <br>
	<%= f.submit %>
<% end %>



