<!DOCTYPE html>
<html>
<head>
  <title>WhiskeyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topnav">
		<%= link_to "Home", whiskeys_path %>
		<%= link_to "Submit A Whiskey", '/whiskeys/new' %>
		<%= link_to "Categories", categories_path %>
</div>
		


<%= yield %>

</body>
</html>
